@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}

.dark-curtain::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
}

.curv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  clip-path: polygon(
    6.726% 0%,
    93.274% 0%,
    93.274% 0%,
    94.364% 0.14%,
    95.399% 0.545%,
    96.364% 1.192%,
    97.245% 2.061%,
    98.029% 3.129%,
    98.701% 4.373%,
    99.249% 5.772%,
    99.657% 7.303%,
    99.912% 8.945%,
    100% 10.676%,
    100% 61.278%,
    100% 61.278%,
    99.732% 65.983%,
    98.988% 69.483%,
    97.863% 71.995%,
    96.447% 73.739%,
    94.835% 74.934%,
    93.119% 75.798%,
    91.39% 76.552%,
    89.742% 77.413%,
    88.268% 78.601%,
    87.061% 80.335%,
    87.061% 80.335%,
    86.147% 82.63%,
    85.483% 85.137%,
    84.946% 87.749%,
    84.409% 90.359%,
    83.749% 92.86%,
    82.839% 95.146%,
    81.556% 97.11%,
    79.775% 98.644%,
    77.369% 99.643%,
    74.215% 100%,
    6.726% 100%,
    6.726% 100%,
    5.637% 99.861%,
    4.603% 99.457%,
    3.638% 98.811%,
    2.758% 97.944%,
    1.974% 96.879%,
    1.302% 95.638%,
    0.754% 94.241%,
    0.346% 92.712%,
    0.09% 91.071%,
    0% 89.342%,
    0% 10.676%,
    0% 10.676%,
    0.088% 8.945%,
    0.343% 7.303%,
    0.751% 5.772%,
    1.299% 4.373%,
    1.971% 3.129%,
    2.755% 2.061%,
    3.636% 1.192%,
    4.601% 0.545%,
    5.636% 0.14%,
    6.726% 0%
  );
}

.marque-text-effect {
  font-size: 100px;
  line-height: 120px !important;
  position: relative !important;
  overflow: visible !important;
  display: flex;
  font-weight: 800 !important;
  overflow: visible !important;
  text-shadow:
    1px 1px 0 rgba(151, 151, 151, 0.5),
    -1px -1px 0 rgba(151, 151, 151, 0.5),
    1px -1px 0 rgba(151, 151, 151, 0.5),
    -1px 1px 0 rgba(151, 151, 151, 0.5),
    1px 1px 0 rgba(151, 151, 151, 0.5);
  -webkit-text-fill-color: #f8f7f0;
  -webkit-text-stroke-width: 0;
  color: transparent;
  letter-spacing: 0;
}
.marque-text-effect:hover {
  color: #5b8c51;
  -webkit-text-fill-color: #5b8c51;
  text-shadow:
    1px 1px 0 #5b8c51,
    -1px -1px 0 #5b8c51,
    1px -1px 0 #5b8c51,
    -1px 1px 0 #5b8c51,
    1px 1px 0 #5b8c51;
}

.text-fill-color {
  color: #5b8c51;
  -webkit-text-fill-color: #5b8c51;
  text-shadow: none;
}
